.contacts-wrapper {
  width: 80%;
  table {
    height: 78vh;
    width: 100%;
    tr.mat-header-row {
      height: 0vh;
    }
    tr.mat-row {
      height: 12vh;
    }
  }
}

.example-header-image {
  background-size: cover;
}

.empty-container {
  height: 82vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: space-around;
  flex-direction: column;
  div {
    background-color: #3f51b5;
    padding: 3em;
    border-radius: 2em;
    color: white;
  }
}
